@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #F9FAFB;
  color: #333333;
}

/* src/assets/main.css */
.input {
  @apply w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary;
}
.button {
  @apply bg-primary text-white px-4 py-2 rounded shadow transition hover:bg-blue-700;
}

